<!--The content below is only a placeholder and can be replaced.-->
<div class="form">
    <form id="form" onsubmit="return false;">
      <div class="form_action">
      <p>
      <label>Фамилия</label><input type="text" name="fam" id="fam" title="Фамилия" pattern="[А-Я]{1}[А-Яа-яЁё]{,19}" required><span></span> <br>
      <label>Имя</label><input type="text" name="name" id="name" title="Имя" pattern="[А-Я]{1}[А-Яа-яЁё]{,19}" required><span></span> <br>
      <label>Отчество</label><input type="text" name="patr" id="patr" title="Отчество" pattern="[А-Я]{1}[А-Яа-яЁё]{,19}" required><span></span> <br>
      <label>Должность</label><input type="text" name="dol" id="dol" title="Должность" required><span></span> <br>
      <label>Дата рождения</label><input type="date" name="data" id="data" title="Дата рождения" required><span></span> <br>
      <label>Адрес проживания</label><input type="text" name="adr" id="adr" title="Адрес проживания" required><span></span> <br>
      <br>
      <label>Эл.почта</label><input type="email" name="email" id="email" title="Эл.почта" required><span></span> <br>
      <label>Контактный номер</label><input type="tel" name="tel" id="tel" pattern="+375[0-9]{9}"> <br>
      <br>
      <label>Сумма оклада</label><input type="number" name="sum" id="sum" title="Сумма оклада" required><span></span> <br>
      </p>
      </div>
      <div class="form_button">
        <p align=center><input type="submit" class="add"  id="add" (click)="addRow()" value="Добавить сотрудника">
            <button class="clear" id="clear" type="reset" formnovalidate> Очистить </button> </p>
      </div>
    </form>
    </div>
