/* You can add global styles to this file, and also import other style files */
body{
	background-color: #CD5C5C;
}
header {
    background-color: #B22222;
	color: #FFFFFF;
    width: 87%;
    height: 100px;
	margin: 0% 0%;
	padding: 20px 150px 0 20px;
}
		
table{
	border-collapse: collapse;
    border-spacing: 0;
	width:90%;
	margin-left:5%;
	margin-right:5%;
	font-family:Calibri;
}
th{

	border:solid 1px #8B0000;
	background-color:#CD5C5C;	
	font-size:22px;
	font-weight:600;
}
td{
	border:solid 1px #8B0000;
    background-color:#e9e9e9;
	font-size:18px;
	font-style:normal;
	font-weight:400;
	text-align:left;
	padding-left:5px;
}